@charset "ISO-8859-1";

div {
	margin: 10px;
	padding: 10px;
	border: 1px dotted gray;
}

.table1 th {
	background: pink;
	padding: 10px;
	border: 1px dotted gray;
	padding: 10px;
}

.table1 td {
	background: white;
	padding: 10px;
	border: 1px dotted gray;
}